[submodule "rwa-rental-dapp/lib/openzeppelin-contracts"]
	path = rwa-rental-dapp/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "rwa-rental-dapp/lib/forge-std"]
	path = rwa-rental-dapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
